############
## General:
############
bin/
tmp/
*.tmp
*.bak

############
## Vim:
############
*.swp

############
## AutoCad:
############
*.dwl1
*.dwl2

############
## Visual Studio
############

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/